

// :::: $vars ::::

$brand-primary: #444;
$btn-primary: $brand-primary / 2;
$btn-hover: #31b1c1;
$darkgrey: #404347;
$white: #fff;
$box-std: 100%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;

// :::: global styles ::::

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary * 3;
}

a {
  text-decoration: none;
  color: $darkgrey / 100;
  cursor: pointer;
}


button {
  padding: 1%;
  margin-bottom: 10px;
  background: $btn-primary / 3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

.selector {
  display: block;
  padding: 1%;
  width: 24%;
  float: right;
  border: 1px solid black;
  border-radius: 5px;
  height: 2.7%;
  margin-top: 5%;
}
// input[type="text"] {
//   float: right;
//   width: 24%;
//   margin-bottom: 2%;
//   padding: 1%;
//   border: 1px solid black;
//   border-radius: 5px;
//   height: 2.7%
// }

select {
  width: 100%;
  margin-bottom: 5px;
}

pre {
  border: 2px solid $brand-primary;
  overflow: auto;
  width: 100%;
  font-family: monospace;
  margin-right: $gutter-std * 2;
}

// :::: app styles ::::
.line {
  width: 90%;
  height: 1%;
  margin: 0 auto;
  clear: both;
  border-bottom: 2px solid $darkgrey;
  margin-bottom: $gutter-std;
}
nav {
  height: 4vw;
  background: $darkgrey;
  padding: 2vw;
  margin-bottom: $gutter-std;

  h1 {
    display: inline-block;
    float: left;
    font-size: 3.5vw;
    color: $brand-primary * 3;
    margin: 0 5%;
  }

  li {
    display: inline-block;
    margin-right: 3vw;
    float: right;

    a {
      font-size: 3vw;
      color: $brand-primary * 3;
      text-shadow: 1px 1px 1px $btn-hover;
    }
  }
}

.container {
  width: 80%;
  margin-left: 10%;
}


.cowfield {
  clear: both;
  width: 50%;
  float: left;
  color: black;
  margin-right: $gutter-std;
  margin-bottom: $gutter-std;
}
.largetitle {
  display: inline-block;
  font-size: 2.3vw;
  margin-bottom: gutter-std;
}
.smalltitle {
  display: inline-block;
  font-size: 2.1vw;
}
footer {
  clear: both;
  height: 5vw;
  width: 100%;
  background: $darkgrey;
}
